<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feedback</title>
  <link rel="stylesheet" href="../styles/feedback.css">
</head>
<body>
  <div class="container">
    <h1>Su opinión es importante para nosotros</h1>
    <input id="opinion" type="text" placeholder=">>> ">
    <div id="emoji-display">😊</div>
    <button id="generate-button">Enviar comentario</button>
    <div id="user-info"></div> <!-- Para mostrar el nombre de usuario -->

    <br>
    <br>

    <a href="/">Volver al inicio</a>
  </div>

  <script src="../scripts/feedback.js"></script>
</body>
</html>
