<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menú del Restaurante</title>
  <link rel="stylesheet" href="../styles/menu.css">
</head>
<body>
  <div id="menu-container">
    <h1>Menú del Restaurante</h1>
  
    <div id="menu">
      <h2>Bebidas</h2>
      <ul id="bebidas">
      </ul>
    
      <h2>Platos Principales</h2>
      <ul id="platos_principales">
      </ul>
    
      <h2>Postres</h2>
      <ul id="postres">
      </ul>
    </div>

    
    <div id="link-container">
      <a href="/recomendation"><button>Recomendación del chef</button></a>
    </div>

    <a href="/">Volver al inicio</a>
  </div>

  <script src="../scripts/menu.js"></script>
</body>
</html>