<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recomendación</title>
  <link rel="stylesheet" href="../styles/recomendation.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <button id="logout-button" style="display: none;" onclick="cerrarSesion()">Cerrar sesión</button>
    </div>

    <br>

    <h1>Recomendación</h1>

    <div class="centrar">
      <button class="switch" onclick="toggleSwitch(this)"></button>
    </div>

    <div class="centrar">
      <div class="columna1" id="columna1"> 
        <h2>Comida/Bebida 1</h2>
        <input id="value1Input" placeholder="pizza">
  
        <h2>Comida/Bebida 2</h2>
        <input id="value2Input" placeholder="fresca">
  
        <div id="respuesta" class="centrar">
          <button onclick="obtenerRecomendacion_2_values()">Obtener Recomendación</button>
        </div>
      </div>
    </div>
    
    <div class="centrar">
      <div class="columna2" id="columna2" style="display: none;"> 
        <h2>Tipo</h2>
        <input id="typeInput" placeholder="maindishes - desserts - drinks">
  
        <h2>Comida/Bebida</h2>
        <input id="valueInput" placeholder="pizza - fresca - tiramisu - ...">
  
        <div id="respuesta" class="centrar">
          <button onclick="obtenerRecomendacion_type_value()">Obtener Recomendación</button>
        </div>
      </div>
    </div>

    <div class="centrar">
      <p id="resultadoTexto"> --- Aquí se mostrará la recomendación --- </p>
    </div>

    <br>
    
    <div>
      <a id="reservations-link" style="display: none;" onclick="redirectToReservationPage()">Reservaciones</a>

      <a href="/">Volver al inicio</a>
    </div>
  </div>

  <script src="../scripts/recomendation.js"></script>
</body>
</html>